<footer>
    <ul>
        <a href="/het-verlies-aanvaarden"><li class="active"><i class="fas fa-square"></i>Vandaag</li></a>
        <li><i class="fas fa-comment"></i>Praten</li>
        <a href="/community-drops"><li><i class="fas fa-tint"></i>Drops</li></a>
        <a href="/"><li><i class="fas fa-user"></i>Profiel</li></a>
    </ul>
</footer> 
</body>
</html>