{% render 'partials/head.liquid' %}

<section class="popover inactive" id="popover">
    <div class="success-message inactive" id="success-message">
        <h2>Toegevoegd aan 💧 Drops</h2>
    </div>
    <button class="close-popover">X</button>
    <div class="popover-content" id="popover-content">
        <h2>Je hebt zojuist een mooie stap volbracht.</h2>
        <p>Wil je anderen steunen door je gevoelens over deze oefening te delen?</p>
    </div>
    <form method="post" action="/community-drops" data-enhanced="formulier">
        <label>Naam</label>
        <input type="text" name="from" aria-label="Naam" placeholder="b.v John Doe" required>
        <label>Uw Bericht</label>
        <textarea name="text" aria-label="Bericht" placeholder="b.v Ik heb een vraag" required></textarea>
        <button type="submit">Ervaring Delen</button>
    </form>
</section>

<section class="drops-head">
    <div class="icon-container">
        <button class="back-button" aria-label="Terug"><a href="/het-verlies-aanvaarden">←</a></button>
        <h1>Community Drops</h1>
    </div>
    <p>
        Deel wat je van de oefening vond, lees ervaringen van anderen en steun elkaar
        in de reis door rouw. <strong>Je bent niet alleen.</strong>
    </p>
</section>

<section class="berichten-container">
    <img class="gradient-left" src="assets/Het verlies aanvaarden.png">
    <h2>Nieuwste Berichten</h2>

{% if drops and drops.size > 0 %}
    {% for drop in drops %}
        {% if drop.text %}
            <article class="bericht">
                <div class="bericht-info">
                    <h3>{{ drop.from | replace: "Recep_", "" }}</h3>
                    <p>Op {{ drop.date_created | date: "%-d %B" }}</p>
                </div>
                <p class="bericht-text">
                    {{ drop.text }}
                </p>
            </article>
        {% endif %}
    {% endfor %}
{% else %}
    <h3>Nog geen berichten geplaatst</h3>
{% endif %}  
</section>


{% render 'partials/foot-drops.liquid' %}